*, *::before, *::after {
	box-sizing: border-box;
}

button {
	cursor: pointer;
	outline: none;

	&::-moz-focus-inner {
		border: none;
	}
}

// $inner-margin: 40px;
// $button-size: 50px;
// $text-color: #655330;
$body-color: #eae1d4;
$button-color: #dcd2c4;
$item-background-color: #fbfbea;
$heading-color: #3e3e5d;

html {
	font-size: 16px;
}

body {
	background-color: $body-color;
}

div, p {
	// outline: 1px dotted black;
}

.search-panel {
	text-align: center;
	padding: 10px;

	> h1 {
		color: $heading-color;
	}
}

.search-input {
	width: 500px;
	display: inline-block;
	position: relative;

	> input {
		width: 400px;
		font-size: 1.5em;
		border: 2px solid #aec7ae;
		border-radius: 5px;
		box-shadow: 1px 4px 10px -3px gray;
		padding: 3px;
		background-color: $item-background-color;
	}

	> button {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		padding: 0;
		border-radius: 8px;
		background-color: $button-color;
		width: 2.7em;
		height: 2.7em;
	}
}

.search-results {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 40px 20px 20px;
	text-align: initial;
	animation: 1s fadein;
}

.item {
	flex: 0 1 350px;
	margin: 5px;
	border: 2px solid #aec7ae;
	border-radius: 20px;
	padding: 10px;
	transition: 1s box-shadow;
	background-color: $item-background-color;
	text-decoration: none;
	color: initial;

	&:hover {
		box-shadow: 0 2px 7px 1px gray;
	}

	> a {
		text-decoration: none;
		color: initial;
	}

	.title {
		text-align: center;
		margin: 3px;
	}

	.thumbnail {
		float: left;
		margin: 5px 15px 0 5px;
		width: 100px;
		max-height: 200px;
		border-radius: 20px;
		border: 2px solid gray;
	}

	.body {
		text-align: justify;
		margin-top: 0;
	}
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

.cricles, .rects {
	stroke: black;
}

.circles {
	fill: #374242;
}

.rects {
	fill: #fbf8f8;

	svg:active & {
		fill: #ece9e9;
	}
}
