extend partials/layout

block content
	.search-panel
		h1 Wikipedia viewer
		.search-input
			input#search-input(type="text")
				
		.search-results
			- for(let i = 0; i < 8; ++i)
				.item
					a(href="https://en.wikipedia.org/?curid=24951632", target="_blank") 
						.item-contents
							h3.title Titan Mare Explorer
							img.thumbnail(src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/TSSM-TandEM-Lander.jpg/275px-TSSM-TandEM-Lander.jpg", alt="Titan Mare Explorer")			
							p.body Titan Mare Explorer (TiME) is a proposed design for a lander for Saturn's moon Titan. TiME is a relatively low-cost, outer-planet mission designed to measure the organic constituents on Titan and would have performed the first nautical exploration of an extraterrestrial sea, analyze its nature and, possibly, observe its shoreline.
					
			
			
